<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radio</title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.1.0/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.1.0/theme-chalk/index.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <template>
        <el-radio disabled v-model="radio1" label="禁用">备选项</el-radio>
        <el-radio disabled v-model="radio1" label="选中且禁用">备选项</el-radio>
    </template>
</div>
<script>
    var Main = {
        data () {
            return {
                radio1: '选中且禁用'
            };
        }
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</body>
</html>