<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radio</title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.1.0/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.1.0/theme-chalk/index.css" rel="stylesheet">
</head>
<body>

<div id="app">
<el-switch v-model="value1" on-text="" off-text>
</el-switch>
<el-switch v-model="value2" on-color="#13ce66" off-color="#ff4949" @change>
</el-switch>
</div>
<script>
  var Main = {
    data() {
      return {
        value1: true,
        value2: true
      }
    },
    methods: {
      change(val) {
        console.log(val)
      }
    }
  };
var Ctor = Vue.extend(Main)
var app = new Ctor().$mount('#app')
</script>
</body>
</html>