<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/element-ui/2.1.0/theme-chalk/index.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.1.0/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
  <title>table2</title>
</head>

<body>
  <div id="app">
    
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="打印机名称">
        <el-input v-model="formInline.user" placeholder="AAA" disabled></el-input>
      </el-form-item>
      <el-form-item label="设备名称">
        <el-select v-model="formInline.region" placeholder="请选择设备">
          <el-option label="设备1" value="shanghai"></el-option>
          <el-option label="设备2" value="beijing"></el-option>
        </el-select>
      </el-form-item>
      
      <el-form-item label="活动时间">
        <el-col :span="11">
          <el-date-picker type="date" placeholder="选择日期" v-model="formInline.date1" style="width: 100%;"></el-date-picker>
        </el-col>
        <el-col class="line" :span="2">-</el-col>
        <el-col :span="11">
          <el-time-picker type="fixed-time" placeholder="选择时间" v-model="formInline.date2" style="width: 100%;"></el-time-picker>
        </el-col>
      </el-form-item>
      <el-form-item label="最大数">
        <el-select v-model="value" placeholder="请选择最大数量">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary">查询</el-button>
      </el-form-item>
    </el-form>

    <el-table :data="tableData.data" :height="tableHeight" border style="width: 100%">
      <el-table-column v-for="col in columns" :key="col.prop" :label="col.label" :prop="col.prop" :class-name="col.class" align='center'>
      </el-table-column>
    </el-table>
  </div>
</body>

<script>
  var Main = new Vue({
    el: '#app',
    data: {
      options: [{
        value: '选项1',
        label: '50'
      }, {
        value: '选项2',
        label: '100'
      }, {
        value: '选项3',
        label: '150'
      }, {
        value: '选项4',
        label: '200'
      }],
      value: '50',
      formInline: {
        user: '',
        region: '',
        date1: '',
        date2: ''
      },
      needArr: [],
      metadata: null,
      tableData: {
        columns: [
          {
            label: 'do_code',
            prop: 'do_code',
            align: 'center',
            showHead: true
          },
          {
            label: 'equipment_id',
            prop: 'equipment_id',
            align: 'center',
            showHead: true
          },
          {
            label: 'barcode',
            prop: 'barcode',
            align: 'center',
            showHead: true
          },
          {
            label: 'labelrule_id',
            prop: 'labelrule_id',
            align: 'center',
            showHead: true
          },
          {
            label: 'params',
            prop: 'params',
            align: 'center',
            class: 'red',
            showHead: true
          },
          {
            label: 'ret_code',
            prop: 'ret_code',
            align: 'center',
            showHead: true
          },
          {
            label: 'reprint_source_id:',
            prop: 'reprint_source_id',
            align: 'center',
            showHead: true
          },
          {
            label: 'source_type:',
            prop: 'source_type',
            align: 'center',
            showHead: true
          },
          {
            label: 'label_type:',
            prop: 'label_type',
            align: 'center',
            showHead: true
          },
          {
            label: 'create_time:',
            prop: 'create_time',
            align: 'center',
            showHead: true
          },
          {
            label: 'operator:',
            prop: 'operator',
            align: 'center',
            showHead: true
          },
          {
            label: 'log_id:',
            prop: 'log_id',
            align: 'center',
            showHead: true
          },
          {
            label: 'err_msg:',
            prop: 'err_msg',
            align: 'center',
            showHead: true
          },
          {
            label: 'modified_time:',
            prop: 'modified_time',
            align: 'center',
            showHead: true
          },
          {
            label: '操作:',
            prop: 'handle',
            align: 'center',
            showHead: true
          }
        ],
        data: [
          {
            do_code: 'D201801090002',
            equipment_id: 7,
            barcode: 'RQ000101',
            labelrule_id: 9,
            params: `{"template":"标签测试","":"","printer":"Honeywell PC42t (203 dpi) - DP","num":1}`,
            ret_code: 0,
            reprint_source_id: 'null',
            source_type: 1,
            label_type: 2,
            create_time: '2018/1/17  11:12:09',
            operator: 8453260,
            log_id: 1,
            err_msg: 'windows打印机被暂停或存在错误',
            modified_time: '2018/3/13  16:42:46',
            handle: '重打'
          },
          {
            do_code: 'D201801090002',
            equipment_id: 7,
            barcode: 'RQ000101',
            labelrule_id: 9,
            params: `{"template":"标签测试","":"","printer":"Honeywell PC42t (203 dpi) - DP","num":1}`,
            ret_code: 1,
            reprint_source_id: 'null',
            source_type: 1,
            label_type: 2,
            create_time: '2018/1/17  11:17:21',
            operator: 8453260,
            log_id: 2,
            err_msg: 'windows打印机被暂停或存在错误',
            modified_time: '2018/3/13  16:42:46',
            handle: '重打'
          },
          {
            do_code: 'D201801090002',
            equipment_id: 7,
            barcode: 'RQ000101',
            labelrule_id: 9,
            params: `{"template":"标签测试","":"","printer":"Honeywell PC42t (203 dpi) - DP","num":1}`,
            ret_code: 1,
            reprint_source_id: 'null',
            source_type: 1,
            label_type: 2,
            create_time: '2018/1/17  11:24:47',
            operator: 8453260,
            log_id: 3,
            err_msg: 'null',
            modified_time: '2018/3/13  16:42:46',
            handle: '重打'
          }
        ],
        height: 100
      }
    },
    computed: {
      columns () {
        return this.tableData.columns.filter((item) => {
          return item.showHead
        })
      },
      items () {
        return this.tableData.columns.filter((item) => {
          return !item.showHead
        })
      },
      tableHeight () {
        return 500
      }
    },
    methods: {
      handleClick () {
        this.$confirm('是否启动打印机?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '启动成功!'
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消启动'
          })
        })
      },
      clearClick () {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '启动成功!'
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消启动'
          })
        })
      },
      cellClick (row, column, cell, event) {
        if (column.property === 'equipment') {
          window.open('table2.html')
        }
      }
    }
  })

</script>

</html>
