<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <title>radio</title>
  <link href="https://cdn.bootcss.com/element-ui/2.1.0/theme-chalk/index.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.1.0/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
</head>

<body>

  <div id="app">
    <el-table :data="tableData.data" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <div v-for="rowNum in props.row.rowNums">
            <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item :label="el.label" v-for="el in items">
                  <span>{{ rowNum[el.prop] }}</span>
                </el-form-item>
              </el-form>
          </div>
        </template>
    </el-table-column>
    <el-table-column v-for="col in columns" :key="col.prop" :label="col.label" :prop="col.prop">
    </el-table-column>
    </el-table>
  </div>

  <script>
    var Main = new Vue({
      el: '#app',
      data: {
        needArr: [],
        metadata: null,
        tableData: {
          columns: [
            {
              label: '打印机',
              prop: 'printer',
              align: 'center',
              showHead: true
            },
            {
              label: '任务数',
              prop: 'tasksNum',
              align: 'center',
              showHead: true
            },
            {
              label: '状态',
              prop: 'status',
              align: 'center',
              showHead: true
            },
            {
              label: '最近一次打印时间',
              prop: 'lastTime',
              align: 'center',
              showHead: true
            },
            {
              label: '关联设备',
              prop: 'equipment',
              align: 'center',
              showHead: true
            },
            {
              label: '操作',
              prop: 'handle',
              align: 'center',
              showHead: true
            }
          ],
          data: [
            {
              tasksNum: '1',
              printer: 'AA',
              status: '启动',
              lastTime: '2018/3/29 11:20',
              equipment: 4,
              handle: '暂停',
              rowNums: []
            },
            {
              tasksNum: '2',
              printer: 'BB',
              status: '暂停',
              lastTime: '2018/3/28 10:55',
              equipment: 5,
              handle: '启动',
              rowNums: []
            },
            {
              tasksNum: '3',
              printer: 'CC',
              status: '--',
              lastTime: '2018/3/29 01:10',
              equipment: 1,
              handle: '启动',
              rowNums: []
            },
            {
              tasksNum: '4',
              printer: 'DD',
              status: '--',
              lastTime: '2018/3/29 06:58',
              equipment: 4,
              handle: '启动',
              rowNums: []
            }
          ],
          height: 100
        }
      },
      computed: {
        columns () {
          return this.tableData.columns.filter((item) => {
            return item.showHead
          })
        },
        items () {
          return this.tableData.columns.filter((item) => {
            return !item.showHead
          })
        }
      },
      methods: {
        objectSpanMethod ({ row, column, rowIndex, columnIndex }) {
          console.log({ row, column, rowIndex, columnIndex })
          if (columnIndex === 0) {
            if (rowIndex % 2 === 0) {
              return {
                rowspan: 2,
                colspan: 1
              }
            } else {
              return {
                rowspan: 0,
                colspan: 0
              }
            }
          }
        }
      }
    })
  </script>
</body>

</html>
